<head>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>JM-Sully</title>       
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav id="navbar"> 
        <div id="logo" class="margin">   
            <span>JM-Sully</span>  
        </div> 
        <div id="spacer"> </div>  
        <div id="nav-link-container" class="margin">
            <a class="nav-link" href="#welcome-section">Welcome</a>
            <a class="nav-link" href="#projects">Projects</a>
            <a class="nav-link" href="#profiles">Profile</a>   
        </div>  
    </nav>     

    <main id="main">   
        <section id="welcome-section">    
            <div id="white-space"></div>          
                <h1 id="learning-text">"Learning to code, one day at a time."</h1>         
            </div>      
        </section>   
        <section id="projects">  
            <div id="background-img-container">      
                <img id="background-img" class="margin" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">          
                <div id="project-title">
                    <h1>Projects</h1>
                    <p>These are some of the websites I've created learning to code. Come back often to see what I've been working on!</p>
                </div>          
                <div class="project-tiles-container"> 
                    <div class="project-tile"> 
                    <a href="https://codepen.io/jm-sully/full/PVWZPz" target="_blank">
                        <img class="project-img" src="https://upload.wikimedia.org/wikipedia/en/d/de/Governor_General%27s_Foot_Guards_%28cap_badge%29.png" id="ggfg" alt="GGFG">         
                        <div class="project-tile-title">Product Landing Page</div>       
                    </a>
                    </div>
                    <div class="project-tile">
                    <a href="https://codepen.io/jm-sully/full/vbELMG" target="_blank">
                        <img class="project-img" src="https://c1.staticflickr.com/9/8260/8606062722_ed77b2fa06_b.jpg" alt="Old English Sheepdog">         
                        <div class="project-tile-title">Tribute Page</div>       
                    </a>
                    </div>
                    <div class="project-tile">
                    <a href="https://countries-display.herokuapp.com/" target="_blank">
                        <img class="project-img" src="http://t1.gstatic.com/images?q=tbn:ANd9GcQKIfOQYg69cr7kmkYm3u3W8TSqTji7TeUSW51jNis6rZXCPUsMKgOrNDciFr66DdbawVecB64dIXQfwQvYH8c" alt="World Map">       
                        <div class="project-tile-title">Country Listing Page</div>       
                    </a>  
                    </div>
                    <div class="project-tile">  
                    <a href="https://codepen.io/jm-sully/full/jdmpyo" target="_blank">
                        <img class="project-img" src="https://i.stack.imgur.com/cLFBX.jpg" alt="Flexbox">         
                        <div class="project-tile-title">Technical Documentation Page</div>       
                    </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="profiles">
            <div id="profiles-container"> 
                <h1 id="profile-title">Check out my profiles</h1>
                <div id="link-container">
                    <a href="https://github.com/JM-Sully" target="_blank" class="profile-link" id="profile-link">GitHub</a>
                    <a href="https://twitter.com/JM_Sully" target="_blank" class="profile-link">Twitter</a>
                    <a href="https://codepen.io/jm-sully/" target="_blank" class="profile-link">Codepen</a>
                </div>
            </div>    
        </section>     
    </main>
    
    <footer>
    </footer>

</body>

